<h1>Editing Factory</h1>

<%= render 'form', factory: @factory %>

<%= link_to 'Show', @factory, :class => "button btn btn-info"  %>
<%= link_to 'Back', factories_path, :class => "button btn btn-info"  %>
